<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  
    <div id="app">
      {{ message }}
  </div>
  
  <div id="app-2">
    <span v-bind:title="message">
      Mueva el mouse sobre mí durante unos segundos
      para ver mi título enlazado dinámicamente.
    </span>
  </div>
  
  <div id="app-3">
    <span v-if="seen"> ahora me ves</span>
  </div>
  
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessager">Mensaje invertido</button>
  </div>
  
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
  
  <ol>
    <todo-item></todo-item>
  </ol>

  <div id="app-7">
    <ol>
      <todo-item
        v-for="item in gocerylist"
        v-bind:todo="item"
        v-bind:key="item.id">
      </todo-item> 
    </ol>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      
      <script>
      //primera ejecucion
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hola Vue!'
        }
      })
      //Manteniendo el titulo
      var app2 =  new Vue({
        el: '#app-2',
        data:{
          message:'Usted cargo esta pagina el' + new Date().toLocaleString()
        }
      })
      //condicionales
      var app3 =  new Vue({
        el: '#app-3',
        data: {
          seen:true
        }
      })
      //bucles
      var app4 = new Vue({
        el: '#app-4',
        data: {
          todos:[
            { text: 'Aprender JavaScript'},
            { text: 'Aprende Vue' },
            { text: 'Construye algo increible' }
          ]
        }
      })
      //manejo de interacciones del usuario
      var app5 = new Vue({
        el: '#app-5',
        data: {
          message: 'Hola Vue.js'
        },
        methods: {
          reverseMessager: function(){
            this.message = this.message.split('').reverse().join('')
          }
        }
      })
      //Interacciones con el usuario cajas de texto
      var app6 = new Vue({
        el: '#app-6',
        data: {
          message: 'Hola Vue!'
        }
      })
      //componentes
      Vue.component('todo-item',{
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
      })

      var app7 = new Vue({
        el: '#app-7',
        data: {
          gocerylist: [
            { id: 0, text: 'Vegetales' },
            { id: 1, text: 'Queso' },
            { id: 2, text: 'Arroz'}
          ]
        }
      })
      </script>
  </body>
</html>
